.ss {
    background-color: rgb(211, 114, 30);
}

.drm {
    background-color: rgb(254, 217, 148);
}

.ac {
    background-color: rgb(255, 190, 69);
}

#bba {
    background-color: rgb(255, 200, 239);
}
